body {
  margin: 0px;
  border: 0px;
  padding: 0px;

  background-image: url("scifi.jpg");
  background-size: auto 100%;
  background-position: center top;
  background-attachment: fixed;

  font-family: 'Bungee';
  font-size: 0.7vw;
}

hr {
  width: 100%;
}

button {
  padding: 1% 3%;

  border: none;
  color: black;

  border-radius: 4px;

  font-family: 'Bungee';
  font-size: 1.2vw;
}
button:hover {
    background-color: lightgrey;
}
button:focus {
    outline: none;
}

input {
  margin-bottom: 1%;
  padding: 0.5%;

  outline: none;
  border: none;
  border-bottom: 1px solid green;

  text-align: center;
  font-size: 1.2vw;
}

table {
  margin: auto;
}

.Menu {
  position: fixed;
  left: 38%;
  min-width: 20vh;
  width: 20vw;

  padding: 2% 2%;

  background-color: white;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#StartMenu {
  top: 23%;
}

#LoginMenu {
  top: 38%;
  visibility: hidden;
}

#RegistrationMenu {
  top: 38%;
  visibility: hidden;
}

#Leaderboard {
  position: fixed;
  left: 0%;
  top: 0%;
  padding: 12px;
  width: calc( (100vw - 100vh) / 2 - 24px);
  height: auto;
  border-radius: 3px;
  font-size: calc(((100vw - 100vh) / 2 - 24px) / 20);

  background-color: white;
  align-items: center;
}

#score{
  position: fixed;
  left: 0%;
  bottom: 0%;
  padding: 12px;
  width: calc( (100vw - 100vh) / 2 - 24px);
  height: auto;
  border-radius: 3px;
  font-size: calc(((100vw - 100vh) / 2 - 24px) / 20);

  background-color: white;
  text-align: center;
}

.buttons {
  visibility: hidden;
}

#up {
  position: fixed;
  width: 50vw;
  height: 40px;
  left: 25vw;
  bottom: 80px;
}

#left {
  position: fixed;
  width: 25vw;
  height: 40px;
  left: 25vw;
  bottom: 40px;
}

#right {
  position: fixed;
  width: 25vw;
  height: 40px;
  left: 50vw;
  bottom: 40px;
}

#down {
  position: fixed;
  width: 50vw;
  height: 40px;
  left: 25vw;
  bottom: 0px;
}

@media (orientation: portrait) {
  body {
    font-size: 0.7vh;
  }
  .buttons{
      visibility: visible;
      width: 50vw;
  }
  #Leaderboard {
    width: auto;
    height: calc( (100vh - 100vw) / 2 - 24px);
    font-size: calc(((100vh - 100vw) / 2 - 24px) / 20);
  }
  #score{
    left: calc(90vw - 24px);
    top: 0%;
    width: 10vw;
    height: calc( (100vh - 100vw) / 2 - 24px);
    font-size: calc(((100vh - 100vw) / 2 - 24px) / 20);
  }
}
