html, body {
    margin: 0px;
    border: 0px;
    padding: 0px;
    overflow: hidden;
    background-image: linear-gradient(-90deg, #26829b, lightblue);
}

/* To allow the the line that breaks the description of the game and the creators to go across the whole screen*/
hr {
    width: 100%;
}

/* To allow the game to be on full screen*/
 /* #gamecanvas {
    width: 100%;
    height: 100%;
} */

/* CSS for the play button   */
button {
    font-size: 19px;
    outline: none;
    border: none;
    color: black;
    background-color: transparent;
    padding: 4px 19px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

/* Background colour changes to light grey when hover over play button */
button:hover {
    background-color: lightgrey;
}

button:focus {
    outline: none;
}


/* CSS for the Menu before you play the game */
#PlayMenu {
    position: fixed;
    top: 49%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 21px 31px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    text-align: center;
}

/* CSS for the input username area */
#UserLogin input, #RegisterUser input {
    font-size: 17px;
    outline: none;
    border: none;
    border-bottom: 1px solid green;
    margin-bottom: 5px;
    padding: 8px;
    text-align: center;
}

#UserLogin {
    position: fixed;
    top: 49%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 21px 31px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    visibility: hidden;
}

#RegisterUser {
    position: fixed;
    top: 49%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 21px 31px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    visibility: hidden;
}

#Leaderboard {
    position: fixed;
    top: 75%;
    left: 10px;
    background-color: white;
    padding: 12px;
    border-radius: 3px;
    visibility: hidden;
}

#score{
  position: fixed;
  top: 60%;
  left: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 3px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 25px;
  visibility: hidden;

}
#fps{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 13px

}

.a {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 13px;
}

#mobileBtns{
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: aqua;
}

#upBtn{
    transform: translate(28%);
}

#downBtn{
    transform: translate(22%);
}

/* If the screen size is 600px wide or less, hide the element */
@media only screen and (max-width: 600px) {
  #mobileButtons {
    display: none;
  }
}
